<style>
  @media only screen and (max-width: 768px) {
    mat-toolbar{
      position:initial;
    }
  }
  </style>

<mat-toolbar class="mat-elevation-z3 mat-toolbar" color="primary">
    <button mat-icon-button (click)="onToggleSnav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Yutsukih Web Labs</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>info</mat-icon>
    </button>
  </mat-toolbar>