<div class="container">
  <div class="row">
    <div class="col-sm-12" style="width: 500px;">
      <mat-label>Speed: {{value}} % </mat-label><br>
      <mat-slider style="width: 100%" [min]="min" [max]="max" [value]="value" [tickInterval]="10"
        [disabled]="disableControls" [step]="5" (change)="onValueChanged()">
          <input matSliderThumb [(ngModel)]="value">
      </mat-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-label>Theme</mat-label>
      <mat-select [value]="selectedTheme" [disabled]="disableControls"
        (selectionChange)="onSelectedThemeChanged($event)">
        <mat-option *ngFor="let item of themes" [value]="item.id">
          {{item.description}}
        </mat-option>
      </mat-select>
    </div>
  </div>
</div>
