a{
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.horizontally-aligned-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
