<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSnavClosed($event)">
    <div class="horizontally-aligned-flex-row">
      <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </div>
  </a>
  <mat-divider/>
  <a mat-list-item routerLink="/snake" (click)="onSnavClosed($event)">
    <div class="horizontally-aligned-flex-row">
      <mat-icon>gesture</mat-icon><span class="nav-caption">Snake</span>
    </div>
  </a>
  <mat-divider/>
  <a mat-list-item routerLink="/magic-of-nine" (click)="onSnavClosed($event)">
    <div class="horizontally-aligned-flex-row">
      <mat-icon>casino</mat-icon><span class="nav-caption">Magic of nine</span>
    </div>
  </a>
  <mat-divided/>
  <a mat-list-item routerLink="/playground" (click)="onSnavClosed($event)">
    <div class="horizontally-aligned-flex-row">
      <mat-icon>game_controller</mat-icon><span class="nav-caption">Playground</span>
    </div>
  </a>
  <mat-divided />

  <div style="position:absolute; bottom: 0; margin-bottom:10px;  width: 100%;">
    <mat-divider style="margin-bottom:10px;"></mat-divider>
    <table style="width: 80%; margin:auto;">
      <tr style="width: 100%">
        <td><mat-icon>brightness_low</mat-icon></td>
        <td><mat-slide-toggle #toggler (change)="onThemeToggled($event)"/></td>
        <td><mat-icon>bedtime</mat-icon></td>
      </tr>
    </table>
  </div>
</mat-nav-list>
