<div [class]="themeClassName">
<mat-sidenav-container fullscreen>
    <mat-sidenav style="width:10%; min-width: 200px;" #snav [mode]="'over'"
        [fixedInViewport]="false" autoFocus="false" [opened]="false">

        <app-navigation (snavClosed)="snav.toggle()" (themeToggled)="toggleTheme($event)"></app-navigation>

    </mat-sidenav>
    <mat-sidenav-content>
    <div>
        <app-header (snavToggle)="snav.toggle()"></app-header>
        <div id="main-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
