
 
  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  
.is-mobile {
  position: fixed;
  z-index: 2;
}

.is-mobile  {
  flex: 1 0 auto;
}

#main-content{
  margin-top: 100px;
}

@media screen and (max-width: 768px){
  #main-content{
    margin-top: 10px;
  }
}