<style>
  @media only screen and (max-width: 600px) {
    footer{
        position: relative;
    }
  }
  </style>

<footer>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="row">
        <span class="spacer"></span>
          <button mat-icon-button onclick="window.open('https://gitlab.com/NicolasMostertB/yutsukih-web-labs', '_blank')"><mat-icon>code</mat-icon></button>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>