  .horizontal-center {
    margin: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 15%;
  }

  @media screen and (max-width: 768px){
    #gameBoard{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }