<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center;">Here stands a freaking snake game, dood!</h1>
    </div>
  </div>

  <br/>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12">
          <p>The object of the game is so simple it hurts. The snake moves. Bits of food will appear on the board, caracterized by their flashy red color.
            You need to move the snake towards those bits of food because it is hungry. Each time the fabulous snake eats a bit of food, it will grow
            longer by one square.<br /><br/>

            How do you lose, you ask? Do you really not know?!<br/><br/>

            You lose by bumping the snake's head into its body. That is all!</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br/>
  <div class="row">
    <div class="col-sm-3">
      <mat-card style="height: 100%;">
        <mat-card-content>
          <button id="cmdStartGame" mat-raised-button color="accent" class="horizontal-center"  [disabled]="gameRunning" (click)="cmdStartGame_Clicked()">
            PLAY
          </button>
          <h5 class="card-title">Configuration</h5>
          <app-game-config></app-game-config>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-6">
      <div>
        <div id="gameBoard" class="mx-auto"
        (panleft)="onPanLeft($event)"
        (panright)="onPanRight($event)"
        (panup)="onPanUp($event)"
        (pandown)="onPanDown($event)">
          <canvas #snakeCanvas id="snakeCanvas" style="display: block; margin: auto;" [width]="boardWidth" [height]="boardHeight"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <app-score></app-score>
    </div>
  </div>
</div>

