<div style="width: 50%" (click)="onDeckClicked()">
  <card-pile [cards]="deck" [facedown]="true" [overlappingWidth]="'0px'" [cardsPerRow]="52" [isSelectable]="false"/>
</div>

<div style="width:50%;">
  <card-pile [cards]="cardsInHand" [overlappingWidth]="'5rem'" [cardsPerRow]="10" [isSelectable]="true" cdkDropList/>
</div>


<p>number of cards in hand: {{(cardsInHand | async).length}}</p>

<button mat-raised-button color="accent" (click)="onDrawCardBtnClick()" [disabled]="canDrawCard | async">Draw a card !</button>
<button mat-raised-button color="primary" (click)="onShuffleBtnClick()">Shuffle current deck</button>
<button mat-raised-button color="warn" (click)="onResetBtnClick()">Reset everything</button>
