<h1 mat-dialog-title>New highscore! Woo!!</h1>
<div mat-dialog-content>
  <p>Congratulations! What's your name?</p>
  <mat-form-field appearance="fill">
    <mat-label>Your awesome name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions style="width: 100%;">
  <button mat-button color="warn" (click)="onNoClick()">None of your business</button>
  <button mat-raised-button color="primary" style="float:right;" [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
</div>
