<mat-card style="height: 100%;">
    <mat-card-content>
        <table style="width: 75%">
            <tr style="width: 50%">
                <td ><p style="font-size: larger; font-weight: 500; margin-top: auto; margin-bottom:auto; display:block">Your score</p></td>
                <td><p style="font-size: xx-large; font-weight: 500; width:100%; margin: auto;">{{ currentScore | async }}</p></td>
            </tr>
        </table>
        <hr>

        <h5>Highscores</h5>
        <mat-list>
            <mat-list-item *ngFor="let item of (highscores | async)">
                <mat-lavel></mat-lavel>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 50%">{{item.name}} :</td>
                        <td style="width: 50%">{{item.score}}</td>
                    </tr>
                </table>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
