.close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  background-color: rgb(234, 231, 231);
  transition: ease-in-out;
  transition-duration: 0.5ms;
}

header {
  display: flex;
  justify-content: end;
}

dialog {
  border-radius: 0.5rem;
  border: 2px solid rgb(193, 188, 188);
  min-width: 15rem;
  box-shadow: 5px 5px 20px rgb(125, 125, 125);
}

:host {
  dialog::backdrop {
    backdrop-filter: blur(0.1rem);
  }
}
