:host {
  margin: 20px;
  display: grid;
  grid-gap: 0.5rem;
  transition: grid-template-columns 0.5s;
  grid-template-columns: repeat(26, 1rem);
  gap: 1px;
}

.card {
  cursor: move;
  width: 7rem;
}

.selectable {
  top: 0;
  transition: top ease 0.5s;
}

.selectable:hover {
  //top: -2rem;
  border-radius: 10px;
  border: 2px solid red;
  z-index: 999;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
