/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100%; height: 100%; background-color: #fafafa; }
body { margin: 1000; font-family: Roboto, "Helvetica Neue", sans-serif; }



