.iframe-container {
    overflow:hidden;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.iframe-video{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    min-width: 80%;
}